extends layout

block content
  ul
    each val in keyboard
      li(class='key-' + val.id)
        a(href='keyhandler?key=' + val.id,target='key-sender')=val.label
  iframe.hidden(name='key-sender')
