doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/main.js')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0')
  body
    block content
